.btn-container {
    padding: 30px;
    display: flex;
    justify-content: flex-start;
}

#deleteId {
    padding: 7px;
    width: fit-content;
    font-size: .71rem;
    margin-right: 6rem;
    font-weight: bold;
}

.btn {
    margin: .7rem;
    font-size: 1rem;
    text-transform: uppercase;
    background: var(--clr-primary-7);
    color: var(--clr-black);
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    height: 2rem;
    width: 2rem;
    font-weight: bold;
}

.btn:hover {
    color: var(--clr-white);
    background: var(--clr-red-light);
}

.icons {
    border: none;
    background: transparent;
    padding: 5px;
    margin-right: 7px;
    cursor: pointer;
    box-shadow: none;
}

.edit-btn {
    color: green;
}

.edit-btn:hover {
    background-color: green;
}

.delete-icon {
    color: red;
}