.modal-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    justify-content: center;
    align-items: center;
}

.modal-inner {
    width: 50vw;
    background-color: #fff;
    transform: translateY(-200%);
    transition: transform 1s;
    padding: 30px;
    margin: 30px auto;
}

.modal-outer.open {
    opacity: 10;
    pointer-events: all;
}

.modal-outer.open .modal-inner {
    transform: translateY(0);
}

.edit-form {
    width: 95%;
    margin: 0 auto;
}

.edit-control label {
    display: block;
    margin: 10px 0 0 0;
}

.edit-control input {
    display: block;
    padding: 7px;
    margin: 5px 0;
}

.edit-form-btn {
    padding: 4px;
    min-width: 80px;
    max-width: 90px;
    margin: 10px auto;
    font-size: .85rem;
    font-family: inherit;
}